@charset "UTF-8";

/* BreakPoints */
/* celular:600px */

@media (max-width:600px) {

    header menu {
        display: none;
    }

    .herosection {
        flex-direction: column;
    }

    .herosection1, .herosection2 {
        width: 100%;
        margin:0px;
    }

    .herosection2 {
        margin-top:5px;
    }

    .herosection1 .content_herosection1 {
        margin-top: 20px;
        margin-left:30px;
        
    }

    .herosection1 .content_herosection1 button{
        margin-top: 30px;
    }

    .herosection {
        height: 600px;
    }

    .content1_herosection2 p{
        font-size: 15px;
        
    }

    .content1_herosection2 button{
        margin-top: 10px;
        margin-left: 200px;
    }


    .content1_herosection2 img{
        max-width: 80%;
        
    }


}

