@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800 & display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --cor_branca:#ffffff;
    --cor_laranja:#FF8F28;
    --cor_cinza:#E3E3E3;

    --item_teste: 1px dashed black;
}

body {
    background-color: var(--cor_branca);
}

#content {
    box-shadow: 0px 0px 3px black;
    max-width: 1200px;
    margin:auto;
    background-color: var(--cor_cinza);
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--cor_branca);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

header h1{
    font-weight: 800;
    
}

header h1:hover{
    transition: 1s;
    color: #e66800;
    
}

header ul{
    list-style-type: none;

}

header li{
    display: inline-block;
    margin-left: 10px;
    cursor:pointer;
}

header li:hover{
    color: #e66800;
    
}

.herosection1,.content1_herosection2, .herosection2_s1, .herosection2_s2 {
    box-shadow: 0px 0px 3px #000000d9;
}

.herosection {
    display: flex;
    padding: 10px;
    /* border: 1px dashed black; */
    height: 400px;
    width: 100%;
}

.herosection1, .herosection2 {
    margin:5px;
    /* border: 1px dashed black; */
    height: 100%;
    width: 50%;
}

.herosection1 {
    background-color: var(--cor_laranja);
    border-radius: 8px;
    
}

.herosection1 .content_herosection1 {
    margin-top: 90px;
    margin-left:30px;
    /* border: 1px dashed rgb(255, 0, 0); */
    max-width: 320px;
    height: 180px;
    
}

.herosection1 .content_herosection1 h1{
    font-size: 23px;
    font-weight: 800;
    line-height: 24.31px;
    text-shadow: 0px 0px 2px #0000008a;
}

.herosection1 .content_herosection1 p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color:#424242;
    text-shadow: 0px 0px 2px #3939396e;

}

.herosection1 .content_herosection1 button{
    background-color: #FAFF00;
    border-radius: 8px;
    padding: 10px;
    border:none;
    margin-top: 50px;
    cursor: pointer;
    color:#424242;
    text-shadow: 0px 0px 2px #3939396e;
}

.herosection1 .content_herosection1 button:hover{
    box-shadow: 0 0 2px #484900;
    
}

.herosection2 {
    border-radius: 8px;
    
    
    flex-direction: column;
}

.content1_herosection2 {
    margin: 0px;
    background-color: var(--cor_laranja);
    border-radius: 8px;
    
}

.content1_herosection2_separador1 {
    width: 75%;
}

.content1_herosection2_separador2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1_herosection2 h1{
    margin: 30px 0px 0px 30px;
    font-size: 23px;
    font-weight: 500;
    line-height: 24.31px;
    text-shadow: 0px 0px 1px #0000008a;
    
}

.content1_herosection2 p{
    margin: 0px 0px 0px 30px;
    font-size: 19px;
    font-weight: 500;
    text-shadow: 0px 0px 1px #0000008a;
}

.content1_herosection2 button{
    background-color: #FAFF00;
    border-radius: 8px;
    padding: 10px;
    border:none;
    margin-top: 15px;
    margin-left: 260px;
    cursor: pointer;
    color:#424242;
    text-shadow: 0px 0px 2px #3939396e;
    
}

.content1_herosection2 button:hover{
    box-shadow: 0 0 2px #484900;
    
}

.content1_herosection2 img{
    margin-right: 10px;
    height: 120px;
    max-width: 200px;
    
}


.content1_herosection2 {
    width:100%;
    height: calc(50% - 5px);
    display: flex;
}

.content2_herosection2 {
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.herosection2_s1 {
    border-radius: 8px;
    background-color: var(--cor_laranja);
    width: 50%;
    height: 100%;
}

.herosection2_s2 {
    border-radius: 8px;
    margin-left: 4px;
    background-color: var(--cor_laranja);
    width: 50%;
    height: 100%;
}

